body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}
.main{
    background-color: black;
    display: flex;
}
.sidebar{
    background-color: black;
    width: 30%;
    height: 100vh;
    
}
.main-content{
    overflow:auto;
    background-color: #121212;
    width: 70%;
    height: 100vh;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 1rem;
}
.music-player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: center;

}
.options{
    color: white;
    background-color: #121212;
    height: 20%;
    margin: 0.5rem;
    border-radius: 1rem;
    padding-left: 2rem;
    display: grid;
    align-content: space-evenly;
}
.suggestions{
    color: white;
    background-color: #121212;
    height: 80%;
    margin: 0.5rem;
    border-radius: 1rem;
}
.search{
    opacity: 0.7;
}
.search:hover{
    opacity: 1;
    cursor:pointer;
}
img{
    height: 1rem;
    width: 1.1rem;
}
.lib{
    display: flex;
    justify-content: space-around;
    padding: 1.2rem 0 1.2rem 0;
}
.lib-text{
    padding-right: 1rem;
    opacity: 0.7;
}
.lib-text:hover{
    opacity: 1;
}
.lib-icons{
    opacity: 0.7;
}
.lib-icons:hover{
    opacity:1
}
.box1{
    height: 25%;
    background-color: #1F1F1F;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
}
.badge{
    background-color: white;
    color: black;
    font-weight: 700;
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
}
.box2{
    height: 25%;
    background-color: #1F1F1F;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
}
.sticky-navbar{
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
}
.sticky-navbar button{
    border: none;
    margin-right: 1rem;
    height: 2rem;
    font-weight: bold;
    background-color: black;
    color:white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.sticky-navbar-icons{
    margin-left: 0.5rem;
}
.captions{
    color: white;
    margin-left: 1.5rem;
    width: 100%;
}
.card1{
    height: 17rem ;
    width: 12rem;
    background-color: #1F1F1F;
    margin-left: 24px;
    border-radius: 1rem;
}
.cardimg{
    border-radius: 1rem;
    width: 11rem;
    height: 65%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.card-title{
    font-weight: bold;
    padding-left: 0.7rem;
    color: white;
}
.card-subtitle{
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: small;
    opacity: 0.7;
    color: white;
    padding-left: 0.7rem;
}
.trend{
    display: flex;
}
.music-box{
    display: flex;
    height: 100%;
    width: 35%;
    justify-content: center;
    flex-wrap: wrap;
}
.music-box-half1{
    padding-top: 7px;
    display: flex;
    height: 50%;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}
.music-box-half2{
    display: flex;
    padding-bottom: 5px;
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.music-icons{
    height: 12px;
    width: 12px;
}
.pause{
    height: 30px;
    width: 30px;
}
.bar{
    width: 80%;;
    margin-bottom: 20px;

}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 30%;
    width: 95%;
    border-top: 2px solid white;
    opacity: 0.2;
}
